<div class="box">
    <div>
        <b>Topology Hash: @State.TopologyHash</b>
    </div>
    <div>Blocked Members: @string.Join(", ", State.Blocked)</div>
</div>
@foreach (var m in State.Members)
{
    <MatPaper Elevation="2">
        <dib>
            <b>Member @m.Id</b>
        </dib>
        <div>Address: @m.Address</div>
        <div>Kinds: @string.Join(", ", m.Kinds) </div>
    </MatPaper>
}

@code {

    [Parameter]
    public ClusterTopology State { get; set; }

}